@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Bad+Script");
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  animation: bg-change 20s ease-in infinite;
}

@keyframes bg-change {
  0% {
    background-color: #f8fefe;
    color: #8a8a8a;
  }
  25% {
    background-color: #ecf6ff;
    color: #747474;
  }
  50% {
    background-color: #dce6f2;
    color: #565656;
  }
  75% {
    background-color: #bccddd;
    color: #3a3a3a;
  }
  100% {
    background-color: #f8fefe;
    color: #8a8a8a;
  }
}
.container {
  width: 100%;
  height: 100%;
  background: inherit;
}

nav {
  width: 100%;
  background: #3C3E4A;
  position: fixed;
  height: 50px;
  z-index: 19000;
}

.menu {
  width: 100%;
  height: 50px;
  padding: 0px;
  line-height: 50px;
  margin: 0;
}

.menu i {
  margin-right: 10px;
}

.menu > a {
  display: inline-block;
  width: 25%;
  float: left;
  text-align: center;
  color: #B5CD60;
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
}

.menu > a:hover:not(.selected) {
  color: #F77A52;
  transition: color 0.3s ease-in;
}

.menu > a.selected {
  background-color: #262731;
  color: #F77A52;
  transition: all 0.3s ease-in;
}

section.views {
  text-align: justify;
  font-size: 16px;
  padding: 70px 50px 0 50px;
  line-height: 2em;
}

.research-topic {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.research-thumb {
  margin: 15px 25px 0 0;
}

.research-text {
  font-size: 14px;
  line-height: 1.5em;
  color: #747474;
}

.research-header {
  font-size: 20px;
  font-weight: 500;
  color: #565656;
  text-align: justify;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end);
  text-align: center;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.photo {
  width: 20%;
  position: relative;
  background: white;
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.25);
  float: left;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-radius: 3px;
  padding: 10px;
  transition: transform 0.1s ease-in;
}

.photo:hover {
  transform: rotateZ(0deg) !important;
}

.photo img {
  width: 100%;
  height: auto;
  position: relative;
}
.photo figcaption {
  font-size: 16px;
  font-family: Bad Script;
  text-align: center;
  color: #565656;
  opacity: 0;
}

.photo:hover figcaption {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.gallery {
  overflow: hidden;
}

.contact-img {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 30px;
  margin-right: 20px;
}

.contact-img.resume {
    background-image: url("../assets/img/resume.png");
}

.contact-img.gmail {
    background-image: url("../assets/img/gmail.png");
}

.contact-img.linkedin {
    background-image: url("../assets/img/linkedin.png");
}

.contact-img.research-gate {
    background-image: url("../assets/img/research_gate.png");
}

.contact-medium {
  margin-bottom: 30px;
}

.contact-link {
  animation: fade-in-left 3s;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

a {
  text-decoration: none;
  transition: all 250ms;
  color: #5596E6;
}

a:hover {
  color: #4178BE;
}

.profile-picture {
  width: 50%;
  height: 600px;
  float: left;
  background-image: url("../assets/img/profile-pic.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.profile-text {
  width: 50%;
  float: right;
  padding-left: 15px;
}
